graft astromodels/xspec/
graft astromodels/data/tests
graft astromodels/xspec/include
graft astromodels/xspec/include/sherpa/
graft astromodels/xspec/include/sherpa/astro/
graft astromodels/data/dark_matter/
graft astromodels/data/xsect
include versioneer.py
include astromodels/_version.py
