graft astromodels/xspec/
graft astromodels/xspec/include
graft astromodels/xspec/include/sherpa/
graft astromodels/xspec/include/sherpa/astro/
graft astromodels/data/dark_matter/
include versioneer.py
include astromodels/_version.py
